h1 {
  text-align: center;
  font-size: 40px;
}
.jumbotron {
  background-color: turquoise;
}
#result-one {
  display: none;
}
#result-two{
  display: none;
}
#result-three {
  display: none;
}
#score {
  display: none;
}
